* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
    
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
}

main {
 padding: 20px;
 border-radius: 5px;
 max-width: 400px;
 margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    gap: 5px;
}

input {
    padding: 5px;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    
    border: none;
}

button {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

button i {
    font-size: 35px;
}

.content {
    margin-top: 10px;
    justify-content: space-between;
    word-break: break-word;
}

.weather {
    display: flex;
    max-width: 400px;
    margin: 0 auto;

    margin-bottom: 1rem;
}

img {
    min-width: 120px;
    background-image: radial-gradient(#b5b5b5, #f7f7f7 70%);
}